<div class = "heading">
	<div class ="heading_text ">
		<p> Welcome visitor! </p>
	</div>
</div>

<div class = "main">
	<div class = "space">
	<div class = "newVisitorBox">
	<div class = "bold">
	<p> Please sign the guestbook or leave a comment! </p>
	</div>
		<%= form_for @new_message do |message| %>

				<div>
					<%= message.label :Name %>
					<%= message.text_field :user %>
				</div>
				<div>
					<%= message.label :Type_your_message_here! %>
					<%= message.text_field :body %>
				</div>

			<%= message.submit %>
		<% end %>
		<%= link_to "API data for database", "/api/messages" %>
	</div>
	</div>

<% @message.each do |x| %>
	<div class = "space">
	<div class = "guestbookEntry">
		<div class = "guestbookEntry_text">
			<p><%= x.user %> signed this guestbook <%= (@time.to_i - x.created_at.strftime("%s").to_i)/86400 %> day(s) ago:</p>
			<p><%= x.body %></p><br>
		</div>
	</div>
	</div>
<% end %>
</div>